@font-face {
    font-family: "gothampro";
    src: url("../fonts/gotham/gothampro.ttf") format("truetype"),
    url("../fonts/gotham/gothampro.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "gothampro";
    src: url("../fonts/gotham/gothampro_bold.ttf") format("truetype"),
    url("../fonts/gotham/gothampro_bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
