<header class="header">
    <div class="header__top">
        <div class="container">
            <h2><span class="flag-icon flag-icon-za"></span> SPECIAL OFFER + FREE DELIVERY 2-4 DAYS IN SA <span class="flag-icon flag-icon-za"></span></h2>
        </div>
    </div>
    <div class="header__mid">
        <img src="images/logo.png" alt="" class="header__logo">
        <h1 class="header__title">orthopedic slippers</h1>
    </div>
    <div class="header__bottom banner">
        <div class="banner__timer timer">
            <span class="timer__title">Limited offer</span>
            <div class="timer__wrap" id="timer">
                <span class="hours timer__spot"></span>
                <span class="minutes timer__spot"></span>
                <span class="seconds timer__spot"></span>
            </div>
        </div>
        <div class="banner__price">
            <span class="underline">R 250.00</span>
            <span class="actual">R 160.00</span>
        </div>
    </div>
</header>
